body {
	position: relative;
	background: #000 url('images/bg.jpg') top center fixed no-repeat;
	color: #fff;
}

.container{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

section.header-content{
}

section.video-content{
	margin-top:20px;
}

div.video {
	background: #000 url('images/player.png') no-repeat;
}

div#mediaplayer_wrapper{
}

div.schedule img{
	margin-top:5px;
	margin-left: 70px;
	height:370px;
}

section.replay-content{
	margin-top:20px;
}

div#clock{
	background: #000;
	height:88px;
	margin-top: 15px;
}

div.clock-content{
	padding:20px;
}

div.clock-content span{
	margin-left:30px;
	margin-right:30px;
	font-size: 50px;
	font-weight: bold;
}