body {
	position: relative;
	background: #000 url('images/bg.jpg') top center fixed no-repeat;
	color: #fff;
}

.container{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

.video{
}

.schedule{
}