body, html {
  background-color: #333;
}

body {
  color: #52585D;
  font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
  text-align: center;
  min-height: 100%;
}

#header img {
  width: 500px;
  padding: 30px 0 0;
}

#container {
  background-color: white;
  border-radius: 0.67em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  margin: 20px auto 0 auto;
  width: 35em;
  padding: 1.5%;
}

a {
  color: #2D81C5;
  text-decoration: none;
}

h1 {
  color: #222;
  font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
  text-shadow: #aaaaaa 1px 1px 1px;
  font-weight: normal;
  font-size: 3.33em;
  margin:  0.33em 0;
}

h1 a {
  color: #222;
}

#tagline, #description, #signup-instructions, #footer  {
}

#tagline {
  color: #42484D;
  width: 23em;
  text-align: center;
  font-size: 1.4em;
  margin:0 auto;
}

#description {
  width: 30em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.0em;
  margin: 0 auto 1.8em auto;
}

#description img{
  height: 300px;
  margin:0px;
}

#notices {
  color: red;
  width: 35em;
  text-align: center;
  font-size: 1em;
  min-height: 1.2em;
  margin: 1.5em auto;
}

#signup-terms, #footer {
  width: 38em;
  font-size: 0.75em;
  line-height: 1.0em;
}

#signup-terms {
  color: #7a7a7a;
  text-align: left;
  width: 36em;
  font-style: italic;
  margin: 2.67em auto;
}

#signup-terms a {
  color: #2D81C5;
}

#footer {
  color: #828A91;
  margin: 1.33em auto;
}

#footer a {
  color: #828A91;
}